---
layout: layouts/category.njk
category: landings
heading: Landing Pages
title: Landing Pages — Yevhen Ivasiuk
description: Explore landing pages designed by Yevhen Ivasiuk.
permalink: /projects/landings/
---
